* {
    box-sizing: border-box;
    margin: 0;
}


/*main parts*/
header {
    height: 7vh;
    background-color: #1F2937;
}

.start {
    height: 60vh;
    background-color: #1F2937;
}

.random-information {
    height: 60vh;
}

.quote {
    height: 50vh;
    background-color: #E5E7EB;
}

.banner {
    height: 40vh;
}

footer {
    height: 10vh;
    background-color: #1F2937;
}


/*general*/
body {
    font-family: 'Roboto', sans-serif;
}

header, .start, .random-information, .quote, .banner, footer {
    padding-left: 12vw;
    padding-right: 12vw;
}


/*header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    display: flex;
    gap: 24px;
}


/*start*/
h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.start { 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.start-text {
    height: 30vh;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 15px;
}

.Sign-up-top {
    background-color: #3882F6;
    color: white;
    border: none;
    height: 30px;
    width: 120px;
    border-radius: 8px;
}

.placeholder {
    width: 40vw;
    background-color: rgb(179, 174, 174);
    height: 30vh;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 30vh;
    flex-shrink: 0;
}


/*radonm information*/
h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    height: 0;
    line-height: 16vh;
}

.card {
    width: 10vw;
    height: 10vw;
    border: 5px solid #3882F6;
    border-radius: 20px;
}

.card-container {
    width: 10vw;
}

.big-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 50px;
}

.card-text {
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
    color: #1F2937;
}


/*quote*/
.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    width: 45vw;
}

.sign {
    font-size: 24px;
    color: #1F2937;
    text-align: right;
    width: 45vw;
    font-weight: 900;
    padding-top: 8px;
}


/*banner*/
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-background {
    background-color: #3882F6;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
}

.banner-title {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.banner-text {
    color: #F9FAF8;
    font-size: 18px;
}

.Sign-up-bottom {
    background-color: #3882F6;
    color: white;
    border-color: white;
    height: 30px;
    width: 120px;
    border-radius: 8px;
    border-style: solid;
}


/*footer*/
    footer {
        font-size: 18px;
        color: #E5E7EB;
        display: flex;
        align-items: center;
        justify-content: center;
    }